:root{ /* utlities */

/* base vars */
--pbs-unit : 1rem;
--pbs-0:0;
--pbs-1:calc(var(--pbs-unit) * 0.25);
--pbs-2:calc(var(--pbs-unit) * 0.5);
--pbs-3:var(--pbs-unit);
--pbs-4:calc(var(--pbs-unit) * 1.5);
--pbs-5:calc(var(--pbs-unit) * 3);

/* base color vars */
--danger: #dc3545;
--warning: #ffc107;
--success: #198754;
--info: #0dcaf0;
--white: var(--pico-color);
--gray: #888888;
--black: var(--pico-background-color);
--primary: var(--pico-primary-background);
--secondary: var(--pico-secondary-background);


/* bs bg color classes */
.primary[class]:not(.outline) {background-color: var(--primary); }
.secondary[class]:not(.outline,button,[type=submit],[type=button],[role=button], a[href]){background-color: var(--secondary); }
.danger[class]{ background-color: var(--danger); color: var(--white);}
.warning[class]{ background-color: var(--warning); color: var(--black);}
.success[class]{ background-color: var(--success); color: var(--white); }
.info[class]{ background-color: var(--info); color: var(--black); }

/* static relative colors */
.pbs-bg{ background-color: var(--pico-background-color-static);}
.pbs-fg{ background-color: var(--pico-color-static);}
	

/* bs text color classes */
.text-primary[class]{ color: var(--primary); }
.text-secondary[class]{ color: var(--secondary); }
.text-danger[class]{ color: var(--danger); }
.text-warning[class]{ color: var(--warning); }
.text-success[class]{ color: var(--success); }
.text-info[class]{ color: var(--info); }


/* bs utils */
.pull-right { float: right; }
.clear { clear: both; }
.hidden { display: none; }
.small { font-size: 0.8rem; }


/* bs header classes */
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
	font-family: var(--pico-font-family);
}
.h1,.fs-1 { font-size: 2rem; color: var(--pico-h1-color);}
.h2,.fs-2 { font-size: 1.75rem; color: var(--pico-h2-color); }
.h3,.fs-3 { font-size: 1.5rem; color: var(--pico-h3-color); }
.h4,.fs-4 { font-size: 1.25rem; color: var(--pico-h4-color); }
.h5,.fs-5 { font-size: 1.125rem;  color: var(--pico-h5-color);}
.h6,.fs-6 { font-size: 1rem;  color: var(--pico-h6-color);}
	

/* bs text styling */
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

.fw-bold { font-weight: 700!important;}
.fw-bolder { font-weight: bolder!important;}
.fw-semibold { font-weight: 600!important;}
.fw-medium { font-weight: 500!important;}
.fw-normal { font-weight: 400!important;}
.fw-light { font-weight: 300!important;}
.fw-lighter { font-weight: lighter!important;}
.fst-normal { font-style: normal !important; }
.fst-italic { font-style: italic !important; }

.font-monospace { font-family: monospace; }
.text-reset { color: inherit; }

.text-start {text-align: left !important;}
.text-center {text-align: center !important;}
.text-end {text-align: right !important;}

/* BS padding and margin classes */
.mt-0{margin-top:0;}
.mt-1{margin-top:var(--pbs-1);}
.mt-2{margin-top:var(--pbs-2);}
.mt-3{margin-top:var(--pbs-3);}
.mt-4{margin-top:var(--pbs-4);}
.mt-5{margin-top:var(--pbs-5);}
.mb-0{margin-bottom:0;}
.mb-1{margin-bottom:var(--pbs-1);}
.mb-2{margin-bottom:var(--pbs-2);}
.mb-3{margin-bottom:var(--pbs-3);}
.mb-4{margin-bottom:var(--pbs-4);}
.mb-5{margin-bottom:var(--pbs-5);}
.ms-0{margin-block-start:0; margin-inline-start:0;}
.ms-1{margin-block-start:var(--pbs-1); margin-inline-start:var(--pbs-1);}
.ms-2{margin-block-start:var(--pbs-2); margin-inline-start:var(--pbs-2);}
.ms-3{margin-block-start:var(--pbs-3); margin-inline-start:var(--pbs-3);}
.ms-4{margin-block-start:var(--pbs-4); margin-inline-start:var(--pbs-4);}
.ms-5{margin-block-start:var(--pbs-5); margin-inline-start:var(--pbs-5);}
.me-0{margin-block-end:0;}
.me-1{margin-block-end:var(--pbs-1);}
.me-2{margin-block-end:var(--pbs-2);}
.me-3{margin-block-end:var(--pbs-3);}
.me-4{margin-block-end:var(--pbs-4);}
.me-5{margin-block-end:var(--pbs-5);}
.ml-0{margin-left:0;}
.ml-1{margin-left:var(--pbs-1);}
.ml-2{margin-left:var(--pbs-2);}
.ml-3{margin-left:var(--pbs-3);}
.ml-4{margin-left:var(--pbs-4);}
.ml-5{margin-left:var(--pbs-5);}
.mr-0{margin-right:0;}
.mr-1{margin-right:var(--pbs-1);}
.mr-2{margin-right:var(--pbs-2);}
.mr-3{margin-right:var(--pbs-3);}
.mr-4{margin-right:var(--pbs-4);}
.mr-5{margin-right:var(--pbs-5);}

.mx-0{margin-left:0; margin-right: 0;}
.mx-1{margin-left:var(--pbs-1); margin-right:var(--pbs-1);}
.mx-2{margin-left:var(--pbs-2); margin-right:var(--pbs-2);}
.mx-3{margin-left:var(--pbs-3); margin-right:var(--pbs-3);}
.mx-4{margin-left:var(--pbs-4); margin-right:var(--pbs-4);}
.mx-5{margin-left:var(--pbs-5); margin-right:var(--pbs-5);}

.my-0{margin-top:0; margin-bottom: 0;}
.my-1{margin-top:var(--pbs-1); margin-bottom:var(--pbs-1);}
.my-2{margin-top:var(--pbs-2); margin-bottom:var(--pbs-2);}
.my-3{margin-top:var(--pbs-3); margin-bottom:var(--pbs-3);}
.my-4{margin-top:var(--pbs-4); margin-bottom:var(--pbs-4);}
.my-5{margin-top:var(--pbs-5); margin-bottom:var(--pbs-5);}


 .pt-0{padding-top:0;}
 .pt-1{padding-top:var(--pbs-1);}
 .pt-2{padding-top:var(--pbs-2);}
 .pt-3{padding-top:var(--pbs-3);}
 .pt-4{padding-top:var(--pbs-4);}
 .pt-5{padding-top:var(--pbs-5);}
 .pb-0{padding-bottom:0;}
 .pb-1{padding-bottom:var(--pbs-1);}
 .pb-2{padding-bottom:var(--pbs-2);}
 .pb-3{padding-bottom:var(--pbs-3);}
 .pb-4{padding-bottom:var(--pbs-4);}
 .pb-5{padding-bottom:var(--pbs-5);}
 .ps-0{padding-block-start:0; padding-inline-start:0;}
 .ps-1{padding-block-start:var(--pbs-1); padding-inline-start:var(--pbs-1);}
 .ps-2{padding-block-start:var(--pbs-2); padding-inline-start:var(--pbs-2);}
 .ps-3{padding-block-start:var(--pbs-3); padding-inline-start:var(--pbs-3);}
 .ps-4{padding-block-start:var(--pbs-4); padding-inline-start:var(--pbs-4);}
 .ps-5{padding-block-start:var(--pbs-5); padding-inline-start:var(--pbs-5);}
 .pe-0{padding-block-end:0;}
 .pe-1{padding-block-end:var(--pbs-1);}
 .pe-2{padding-block-end:var(--pbs-2);}
 .pe-3{padding-block-end:var(--pbs-3);}
 .pe-4{padding-block-end:var(--pbs-4);}
 .pe-5{padding-block-end:var(--pbs-5);}
 .pl-0{padding-left:0;}
 .pl-1{padding-left:var(--pbs-1);}
 .pl-2{padding-left:var(--pbs-2);}
 .pl-3{padding-left:var(--pbs-3);}
 .pl-4{padding-left:var(--pbs-4);}
 .pl-5{padding-left:var(--pbs-5);}
 .pr-0{padding-right:0;}
 .pr-1{padding-right:var(--pbs-1);}
 .pr-2{padding-right:var(--pbs-2);}
 .pr-3{padding-right:var(--pbs-3);}
 .pr-4{padding-right:var(--pbs-4);}
 .pr-5{padding-right:var(--pbs-5);}

 .px-0{padding-left:0; padding-right: 0;}
 .px-1{padding-left:var(--pbs-1); padding-right:var(--pbs-1);}
 .px-2{padding-left:var(--pbs-2); padding-right:var(--pbs-2);}
 .px-3{padding-left:var(--pbs-3); padding-right:var(--pbs-3);}
 .px-4{padding-left:var(--pbs-4); padding-right:var(--pbs-4);}
 .px-5{padding-left:var(--pbs-5); padding-right:var(--pbs-5);}

 .py-0{padding-top:0; padding-bottom: 0;}
 .py-1{padding-top:var(--pbs-1); padding-bottom:var(--pbs-1);}
 .py-2{padding-top:var(--pbs-2); padding-bottom:var(--pbs-2);}
 .py-3{padding-top:var(--pbs-3); padding-bottom:var(--pbs-3);}
 .py-4{padding-top:var(--pbs-4); padding-bottom:var(--pbs-4);}
 .py-5{padding-top:var(--pbs-5); padding-bottom:var(--pbs-5);}

/* BS width and height utils */
.w-25 {	width: 25%!important;}
.w-50 {	width: 50%!important;}
.w-75 {	width: 75%!important;}
.w-100 { width: 100%!important;}
.w-auto { width: auto!important;}

.h-25 {	height: 25%!important;}
.h-50 {	height: 50%!important;}
.h-75 {	height: 75%!important;}
.h-100 { height: 100%!important;}
.h-auto { height: auto!important;}




/* btn styling - not quite "real" buttons, but workable */
.btn {
	border: 1px solid #888;
	padding: 0.1rem 0.5rem;
	background-color: var(--black);
	color: var(--white);
	cursor: pointer;
	border-radius: 0.1rem;
	text-decoration: none;
}
.btn:hover {
	background-color: color-mix(in srgb, var(--black), #000);
	border-color: var(--pico-secondary-hover-border);
}
.btn:focus-visible {
	border-color: var(--pico-secondary-border);
}
.btn:active {
	background-color: var(--pico-secondary);
}

/* bs badges */
.badge {
display: inline-block;
padding: 0.35em 0.65em;
font-size: 0.75em;
font-weight: 700;
line-height: 1;
text-align: center;
color: #fff;
white-space: nowrap;
vertical-align: baseline;
border-radius: 0.4em;
}


/* bs pill and our pills */
.pills { 
	button, a, [role='button'] { border-radius: 1rem; }
}
body .pill { border-radius: 1rem; }


/* bs list groups, no child classes needed */
.list-group { margin: 0; padding:0; }
body .list-group > * { 
	list-style: none; 
	margin-bottom:1px; 
	border: 1px solid rgba(129,129,129,0.2);
}


/* bs little containers, match article tags in pico */
.card, .alert, .list-group>* {
	margin-bottom: var(--pico-block-spacing-vertical);
	padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
	border-radius: var(--pico-border-radius);
	background: var(--pico-card-background-color);
	box-shadow: var(--pico-card-box-shadow);
}


/* force succsessive articles into a bs list-group appearence */
article:has(+article),
article+article { margin-bottom: 1px; }


/* bs alerts */
.alert { 	
	padding: calc(var(--pico-block-spacing-vertical) / 1.5) ;
	background: var(--primary); 
}

/* dismissible alerts contain a checked checkbox */
.alert input[type='checkbox']{
	opacity: 0;
	border: 0;
	cursor: default;
	outline: 0 !important;
	box-shadow: none;

}
.alert input:checked {
	opacity: 1;
	width: 0.01rem;
	height: 0.01rem;
	float: right;
	margin-right: 1rem;
	background-image: none;
	display: inline-block;
	position: relative;

}
.alert input:checked:after {
	content: "X";
	font-size: 1.5rem;
	font-weight: bold;
	position: absolute;
	top: -0.4rem;
	right: -0.8rem;
	text-shadow: 0 0 2px #000;
	opacity: 0.7;
	transition: 200ms opacity;
	cursor: pointer;
	
}
.alert input:checked:focus:after,
.alert input:checked:hover:after {
	opacity: 1;
}
.alert input:checked:active:after {
	opacity: 0.3;
}
.alert:has(input[type='checkbox']:not(:checked)) {
	display: none;
}
.alert:has(input[type='checkbox']:not(:checked)).fade {
  	animation: pbsFadeToNone 0.5s forwards;
}
.alert:has(input[type='checkbox']:not(:checked)).slide {
  	animation: pbsSlideToNone 0.85s forwards;
}


/* support popovers */
[data-pbs-popto]{  
  position-anchor: attr(data-pbs-popto type(<custom-ident>));
  position-area: top;  
}
[data-pbs-pop]{
  anchor-name: attr(data-pbs-pop type(<custom-ident>));
}



/* tabs */
.tabs {
	display: inline-block;

	nav [for], .nav [for] { cursor: pointer; }

	section { display: none; }

	section[id].open, /* << js version selector.
				VVV	 js-less ONLY version selector VVV */
	&:not(:has(nav [for], .nav [for])) section[id]:target { 
		display: block; 
	}
}/* end tabs */

 /* create choosers via wrapping <aside> around the nav/.nav in a .tab component */
.tabs:has(aside) {	
	position: relative;
	border: 1px solid;
	padding: 1em;
	
	aside,	main {	float: left;}
	aside {	width: 10%;}
	main {	width: 90%;}
} /* end chooser */


/* grid updates */


/* legacy ff for small counts */
.grid[data-pbs-cols="1"] {	grid-template-columns: repeat(1, auto); }
.grid[data-pbs-cols="2"] {	grid-template-columns: repeat(2, auto); }
.grid[data-pbs-cols="3"] {	grid-template-columns: repeat(3, auto); }
.grid[data-pbs-cols="4"] {	grid-template-columns: repeat(4, auto); }
.grid[data-pbs-cols="5"] {	grid-template-columns: repeat(5, auto); }
.grid[data-pbs-cols="6"] {	grid-template-columns: repeat(6, auto); }
.grid[data-pbs-cols="7"] {	grid-template-columns: repeat(7, auto); }
.grid[data-pbs-cols="8"] {	grid-template-columns: repeat(8, auto); }
.grid[data-pbs-cols="9"] {	grid-template-columns: repeat(9, auto); }
.grid[data-pbs-cols="10"] {	grid-template-columns: repeat(10, auto); }
.grid[data-pbs-cols="11"] {	grid-template-columns: repeat(11, auto); }
.grid[data-pbs-cols="12"] {	grid-template-columns: repeat(12, auto); }

/* allow data- attrib to customize column count in grids */
.grid[data-pbs-cols] {
	--pbs-col-count: attr(data-pbs-cols type(<number>));
	grid-template-columns: repeat(var(--pbs-col-count), auto);
}

/* allow data- attrib to customize gaps grids */
.grid[data-pbs-gap] {
	gap: attr(data-pbs-gap type(<length>));
}

/* for a bs-like grid, you can use col- classes as children to manually size */
.grid:has(>[class*="col-"]){
   grid-template-columns: repeat(12, 1fr);
   .col-1 {	grid-column: span 1; }
   .col-2 {	grid-column: span 2; }
   .col-3 {	grid-column: span 3; }
   .col-4 {	grid-column: span 4; }
   .col-5 {	grid-column: span 5; }
   .col-6 {	grid-column: span 6; }
   .col-7 {	grid-column: span 7; }
   .col-8 {	grid-column: span 8; }
   .col-9 {	grid-column: span 9; }
   .col-10 { grid-column: span 10; } 
   .col-11 { grid-column: span 11; }
   .col-12 { grid-column: span 12; }
}



/* carousels */
.carousel {
  --pbs-carousel-item-width: 100%;
  --pbs-carousel-item-gap: 1rem;
  display: flex;
  gap: var(--pbs-carousel-item-gap);
  padding: 0;
  margin: 0;
  overflow: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  scroll-behavior: smooth;
  position: relative;
  width: var(--pbs-carousel-item-width);  
}

.carousel[data-pbs-width]{ 	--pbs-carousel-item-width: attr(data-pbs-width type(<length> | <percentage>) ); }
.carousel[data-pbs-gap]{ 	--pbs-carousel-item-gap: attr(data-pbs-gap type(<length> | <percentage>) ); }

.carousel.buttons {
 scroll-marker-group: none;
}
.carousel>* {
  list-style-type: none;
  margin-bottom: 0;
  flex: 0 0 var(--pbs-carousel-item-width);
  scroll-snap-align: start;
  text-align: center;
}
.carousel:not(.buttons) >*::scroll-marker,
.carousel:not(.buttons) + *>.scroll-marker {
  content: "";
  border: 1px solid var(--pico-switch-background-color);
  height: 1.25em;
  width: 1.25em;
  border-radius: 1rem;
}

.carousel:not(.buttons)::scroll-marker-group,
.carousel:not(.buttons) + .scroll-marker-group {
  display: flex;
  gap: 0.7em;
  place-content: center;
  margin-top: 0.25rem;
  padding-bottom: 1rem; 
  width: var(--pbs-carousel-item-width);  
}

.carousel:not(.buttons) ::scroll-marker:target-current,
.carousel:not(.buttons) + * .target-current {
  background: var(--pico-switch-color);
}

/* button style */
.carousel.buttons[class]::scroll-button(*) {
	height: 1.5rem;
	width: 1.5rem;
	font-size: 1.5rem;
	margin-right: 0.5rem;
	background: var(--pico-primary-background);
	color: var(--pico-primary);
}

.carousel.buttons::scroll-button(*):disabled {
	cursor: not-allowed;
	opacity: 0.75;
}

.carousel.buttons::scroll-button(left) {
	content: "<";
}
.carousel.buttons::scroll-button(right) {
	content: ">";
}
.scroll-marker:focus-visible {
	outline: 4px solid var(--pico-form-element-focus-color) !important;
}

/* polyfill button styles */
.pbs_smg_wrap:has(.carousel.buttons) {
	.scroll-marker-group .scroll-marker {
		margin-right: 0.5rem;
		cursor: pointer;
		display: none;
	}
	& .scroll-marker-group .scroll-marker::before {
		content: ">";
		display: inline-block;
		text-align: center;
		font-weight: bold;
		font-size: 1.5rem;
		background: var(--pico-primary-background);
		color: var(--pico-primary);
		width: 1.65rem;
		line-height: 0.7;
		padding-bottom: 0.5rem;
		border-radius: 3px;
	}
	& .scroll-marker-group .scroll-marker:first-child::before {
		content: "<";
	}
	.scroll-marker-group {
		.scroll-marker.target-current:first-child,
		.scroll-marker.target-current:last-child {
			display: inline-block;
			opacity: 0.5;
			cursor: not-allowed;
		}
		.scroll-marker.target-current+.scroll-marker,
		.scroll-marker:has(+ .scroll-marker.target-current) {
			display: inline-block;
		}
		.scroll-marker:has(+ .scroll-marker.target-current):before {
			content: "<";
		}
	}
} /* end button polyfill styles */





/* marquee */
.marquee {
	--marquee-height: 2rem;
	--marquee-width:  5rem;
	--marquee-duration: 30s;
	width: 90%;
	margin-inline: auto;
	position: relative;
	height: var(--marquee-height);
	overflow-x: hidden;
	mask-image: linear-gradient(to right,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 1) 20%,
			rgba(0, 0, 0, 1) 80%,
			rgba(0, 0, 0, 0));
}

.marquee[data-pbs-width] { --marquee-width: attr(data-pbs-width type(<length> | <percentage>) ); }
.marquee[data-pbs-height] { --marquee-height: attr(data-pbs-height type(<length> | <percentage>) ); }
.marquee[data-pbs-duration] { --marquee-duration: attr(data-pbs-duration s); }

.marquee > * {
  width:  var(--marquee-width);
  height:  var(--marquee-height);
  position: absolute;
  left: max(calc(var(--marquee-width) * sibling-count()), 100%);
  animation-name: pbsMarqueeScroll;
  animation-duration: var(--marquee-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: calc( var(--marquee-duration) / sibling-count() * (sibling-count() - sibling-index()) * -1);  
}

/* support popovers */
[data-pbs-popover] {
  position-anchor: var(--anchor);
  position-area: top;  
}

/* add easy tooltip popovers w/.tooltip class */
[data-pbs-popover].tooltip {
	border-radius: 1rem;
	background: var(--pico-form-element-background-color);
	color: var(--pico-form-element-color);
	padding: 0.5rem 1rem;
	box-shadow: 0 0 2em #888d;
	position: relative;
	cursor: default;
	user-select: none;
	pointer-events: none;
	border: 1px solid var(--pico-form-element-placeholder-color);
}
[data-pbs-popover].tooltip:after {
	content: "i";
	font-style: italic;
	font-size: 0.85rem;
	position: absolute;
	margin: -1rem;
	top: 1.3rem;
	left: 1.4rem;
	border: 1px solid #888;
	padding: 0 0.7rem;
	border-radius: 2rem;
	color: var(--pico-form-element-color);
	opacity: 0.75;
}
[data-pbs-popover].tooltip>*:first-child:first-letter {
	padding-left: 1rem;
}



/* dupe aria-invalid rules to html5 :invalid */
:where(input, select, textarea):invalid {
	--pico-border-color: var(--pico-form-element-invalid-border-color)
}
:where(input, select, textarea):invalid:is(:active, :focus) {
	--pico-border-color: var(--pico-form-element-invalid-active-border-color) !important
}
:where(input, select, textarea):invalid:is(:active, :focus):not([type=checkbox], [type=radio]) {
	--pico-box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-invalid-focus-color) !important
}

/* seamlessly shim a button inside details/summary */
.button-dropdown {
	position: relative;
	top: -0.35em;
	left: -0.5em;
}
nav details.dropdown {
	display: inline-block;
}

/* columns */
[data-pbs-cols]{ 
	column-count: 3;
	column-count: attr(data-pbs-cols type(<number>));
}
/* fallbacks for FF */
[data-pbs-cols='2']{ column-count: 2; }
[data-pbs-cols='3']{ column-count: 3; }
[data-pbs-cols='4']{ column-count: 4; }
[data-pbs-cols='5']{ column-count: 5; }
[data-pbs-cols='6']{ column-count: 6; }
[data-pbs-cols='7']{ column-count: 7; }
[data-pbs-cols='8']{ column-count: 8; }
[data-pbs-cols='9']{ column-count: 9; }
[data-pbs-cols='10']{ column-count: 10; }
[data-pbs-cols='11']{ column-count: 11; }
[data-pbs-cols='12']{ column-count: 12; }

[data-pbs-cols][data-pbs-gap] {
	column-gap: 0.5rem;
	column-gap: attr(data-pbs-gap type(<length>));
}
[data-pbs-cols][data-pbs-width] {
	column-width: attr(data-pbs-width type(<length>));
}
[data-pbs-cols]>img {
	display: block;
	width: 100%;
}
[data-pbs-cols][data-pbs-gap] {
	--pbs-img-margin: attr(data-pbs-gap type(<length>));
}
[data-pbs-cols][data-pbs-gap]>img {
	margin-bottom: 0.5rem;
	margin-bottom: var(--pbs-img-margin);
}



/* flexbox */
.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.flex.reverse {	 flex-direction: row-reverse;}
.flex.columns {	 flex-direction: column;}
.flex.columns.reverse {	 flex-direction: column-reverse;}
.flex.center {align-items: center; justify-content: center;}
.flex[data-pbs-gap] {
	gap: attr(data-pbs-gap type(<length>));
}


/* add tabbed and chooser classes. webkit only for now, but no js, clean look and feel */

.tabbed {
  display: flex;
  gap:0;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scroll-marker-group: before;
}

.tabbed>* {
  list-style-type: none;
  flex: 0 0 100%;
  scroll-snap-align: start;
}


.tabbed >*::scroll-marker,
.tabbed + * .scroll-marker {
  content: attr(name);
  border-bottom: 4px solid var(--pico-muted-border-color);
  height: 2em;
  min-width: 8rem;
  padding: 0 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: 300ms border, 150ms font-weight, 200ms color;
  color: var(--pico-muted-color);
  cursor: pointer;
}
 .tabbed >*::scroll-marker[data-name],
 .chooser>*::scroll-marker[data-name],
 .tabbed  + * .scroll-marker[data-name],
 .chooser + * .scroll-marker[data-name] { 
 	content: attr(data-name); 
 }
.tabbed >*::scroll-marker:hover,
.chooser>*::scroll-marker:hover,
.tabbed  + * .scroll-marker:hover,
.chooser + * .scroll-marker:hover {
	color: var(--pico-secondary-hover);
}
.tabbed >*::scroll-marker:active,
.chooser>*::scroll-marker:active,
.tabbed  + * .scroll-marker:active,
.chooser + * .scroll-marker:active {
	color: var(--pico-secondary-inverse);
}

.tabbed::scroll-marker-group,
.tabbed + .scroll-marker-group {
  display: flex;
  gap: 0em;
  place-content: start;
  padding-bottom: 2.75rem;   
}

.tabbed ::scroll-marker:target-current,
.tabbed + * .target-current {
  color: var(--pico-color);
  border-radius: 0.15em;
  border-bottom: 4px solid var(--pico-primary-background);
}


/* styles specific to ::scroll-marker polyfill */
.tabbed:has( + .scroll-marker-group){
	padding-top: 2.75rem;
	anchor-name: --tabber;
	anchor-scope: --tabber;
}
.tabbed + .scroll-marker-group {
	position: absolute;
	position-anchor: --tabber;
	left: anchor(left);
	bottom: calc(anchor(top) + -2rem);
	padding: 0 !important;
	margin: 0;
}

.pbs_smg_wrap:has(.tabbed) {
	display: flex;
}
	




.chooser {
	--pbs-chooser-menu-width: 6rem;
	display: flex;
	gap: 0;
	padding-left: 0;
	overflow: hidden;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	scroll-marker-group: before;
	position: relative;
	left: calc(var(--pbs-chooser-menu-width) + 1.5rem);
	width: calc(100% - var(--pbs-chooser-menu-width) - 1rem);
}
.chooser[data-pbs-chooser-menu-width]{
 --pbs-chooser-menu-width:  attr(data-pbs-chooser-menu-width type(<length>));
}

.chooser>* {
  list-style-type: none;
  flex: 0 0 100%;
  scroll-snap-align: start;
}


.chooser::scroll-marker-group,
.chooser + .scroll-marker-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.25em;
  place-content: start;
}

.chooser >*::scroll-marker,
.chooser + * .scroll-marker {
  content: attr(name);
  border-bottom: none;
  border-right: 1px solid var(--pico-muted-border-color);
  min-width: 3rem;
  text-align: left;
  text-decoration: none;
  width: var(--pbs-chooser-menu-width);
  transition: 300ms border, 150ms font-weight, 200ms color;
  color: var(--pico-muted-color);  
  cursor: pointer;
}

 
.chooser ::scroll-marker:target-current,
.chooser + * .target-current{
  color: var(--pico-color);
  border-right: 5px solid var(--pico-primary-background);
}


/* styles specific to ::scroll-marker polyfill */
.pbs_smg_wrap:has(.chooser) {
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
}
.chooser + .scroll-marker-group {
	position: absolute;
}
.chooser + .scroll-marker-group .scroll-marker {
	padding-right: 1rem; 
}


/* accordion features */
body details[open] summary::after {
	content: "▾";
}
body details summary::after {
	float: left;
	margin: 0 0.35rem 0 0.2rem;
	transform: unset;
	background: none;
	content: "▸";	
	transition: none;
	font-size: 1.5rem;
	opacity: 0.66;	
}
body details:first-of-type,
body details:first-of-type summary {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
body details:last-of-type,
body details:last-of-type summary {
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
body details {
	margin-bottom: 0px;
	border: 1px solid #888;
	border-bottom: 0px solid #888;
	border-color: var(--pico-form-element-border-color);
	background: hsl(from var(--pico-form-element-background-color) h calc(s * 0.5) 90%);
}
body details[open],
body details:last-of-type {
		border-bottom-width: 1px;
}
body details::details-content {
	opacity: 0.2;
  	transition: opacity 0ms 25ms;
}	
body details[open]::details-content {
	padding: 0.0rem 0.75rem;
  	opacity: 1;
  	transition-duration: 330ms;
}
body details summary {
	font-weight: 500;
	color: var(--pico-form-element-color);
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	background-color: var(--pico-form-element-background-color);
	transition: 200ms 20ms background-color;
}
body details summary:hover{
	background-color: var(--pico-form-element-selected-background-color);
}
body details[open] summary {
	opacity: 1;
	background-color: var(--pico-form-element-active-background-color);
}





/* message feature */
body {
  --pbs-msg: "";
  --pbs-msg-duration: 99s;
  --pbs-msg-error: 0;
}
[data-pbs-msg]:focus {
	animation: var(--pbs-msg-duration) pbs-blur;
}
body:after {
	--pbs-msg-icon: if(style(--pbs-msg-error: 0): "ℹ️️ 𝗡𝗼𝘁𝗶𝗰𝗲"; else: "⚠️ 𝗘𝗿𝗿𝗼𝗿";);
	display: block;
	white-space: pre-wrap;
	color: #333;
	position: fixed;
	bottom: 2rem;
	right: if(style(--pbs-msg: ""): -25rem; else: 3rem;);
	opacity: if(style(--pbs-msg: ""): 1; else: 0;);
	transition: if(style(--pbs-msg: ""): 0ms; else: 500ms;) right, 
				300ms if(style(--pbs-msg: ""): 0ms; else: var(--pbs-msg-duration);) opacity;
	width: 15rem;
	background: if(style(--pbs-msg-error: 0): #f7f9bc; else: #e89494;);
	border: 2px solid #222;
	box-shadow: 6px 8px 12px #222;
	padding: 0.25rem 0.5rem 1rem 0.75rem;
	font-size: 1.1rem;
	content: var(--pbs-msg-icon) " \A﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌\A" var(--pbs-msg) ;
	line-height: 1.1;
	cursor: pointer;
	border-radius: 0.5rem;
}


/* numbering: add [data-pbs-number] to populate counter(pbs-num) and var(--pbs-count) strings */
[data-pbs-number] {
  --pbs-count: "0";
  counter-reset: pbs-num;
}
[data-pbs-number] > * {
  counter-increment: pbs-num;
}
:where( [data-pbs-number] ){
	&:has(>:nth-child(1):last-of-type *) { --pbs-count:"1"; }
	&:has(>:nth-child(2):last-of-type *) { --pbs-count:"2"; }
	&:has(>:nth-child(3):last-of-type *) { --pbs-count:"3"; }
	&:has(>:nth-child(4):last-of-type *) { --pbs-count:"4"; }
	&:has(>:nth-child(5):last-of-type *) { --pbs-count:"5"; }
	&:has(>:nth-child(6):last-of-type *) { --pbs-count:"6"; }
	&:has(>:nth-child(7):last-of-type *) { --pbs-count:"8"; }
	&:has(>:nth-child(8):last-of-type *) { --pbs-count:"8"; }
	&:has(>:nth-child(9):last-of-type *) { --pbs-count:"9"; }
	&:has(>:nth-child(10):last-of-type *) { --pbs-count:"10"; }
	&:has(>:nth-child(11):last-of-type *) { --pbs-count:"11"; }
	&:has(>:nth-child(12):last-of-type *) { --pbs-count:"12"; }
}





/* various enhancments */
dialog {
	overscroll-behavior: contain;
}
body:has(dialog[open]){
	overflow: hidden;
}

}/* end utlities */


/* derived color theming */

/* light mode colors */
[data-theme="light"],
html:root:not([data-theme="dark"]) {
	
	--pbs: #5ea152;
	--pbs-copy: var(--pbs);
	background-color: var(--pico-background-color);
	
	&[data-pbs-theme-color] {
		--pbs: attr(data-pbs-theme-color type(<color>), var(--pbs-copy));
	}

	--pbs-tone: oklch(from var(--pbs) 0.5 0.4 h);	
	--pico-background-color: oklch(from var(--pbs) 0.92 calc(c * 0.33) h);
	--pico-background-color-static: oklch(from var(--pbs) 0.92 calc(c * 0.33) h);
	--pico-color: oklch(from var(--pbs) 0.12 calc(c * 0.1) h);
	--pico-color-static: oklch(from var(--pbs) 0.12 calc(c * 0.1) h);
	--pico-text-selection-color: oklch(from var(--pbs) 0.6 calc(c * 0.5) h);
	--pico-muted-color: oklch(from var(--pico-color) calc(l * 1.25) c h);
	--pico-muted-border-color: oklch(from var(--pbs) 0.75 calc(c * 0.5) h);
	--pico-primary: oklch(from var(--pbs) 0.18 calc(c * 0.75) h);
	--pico-primary-background: oklch(from var(--pbs) 0.68 calc(c * 0.85) h);
	--pico-primary-border: oklch(from var(--pbs) 0.6 calc(c * 0.75) h);
	--primary: var(--pico-primary-background);
	--pico-primary-underline: oklch(from var(--pbs) 0.5 calc(c * 0.75) h / 0.5);
	--pico-primary-hover: oklch(from var(--pbs) 0.2 calc(c * 0.25) h);
	--pico-primary-hover-background: oklch(from var(--pbs) 0.58 calc(c * 0.85) h);
	--pico-primary-focus: oklch(from var(--pbs) 0.48 calc(c * 0.8) h / 0.35);
	--pico-primary-inverse: #000;
	--pico-secondary: oklch(from var(--pbs) 0.18 calc(c * 0.85) calc(h - 60));
	--pico-secondary-background: oklch(from var(--pbs) 0.5 calc(c * 0.3) calc(h - 30));
	--pico-secondary-underline: oklch(from var(--pbs) 0.5 calc(c * 0.75) calc(h - 30) / 0.5);
	--pico-secondary-hover: oklch(from var(--pbs) 0.2 calc(c * 0.25) calc(h - 30));
	--pico-secondary-hover-background: oklch(from var(--pbs) 0.58 calc(c * 0.85) calc(h - 30));
	--pico-secondary-focus: oklch(from var(--pbs) 0.48 calc(c * 0.8) calc(h - 30) / 0.35);
	--pico-secondary-inverse: #000;
	--xsecondary: var(--pico-secondary);
	--pico-contrast: oklch(from var(--pbs) 0.1 calc(c * 0.3) h);
	--pico-contrast-background: oklch(from var(--pbs) 0.05 calc(c * 0.25) h);
	--pico-contrast-underline: oklch(from var(--pbs) 0.1 calc(c * 0.5) h / 0.5);
	--pico-contrast-hover: oklch(from var(--pbs) 0.02 calc(c * 0.5) h);
	--pico-contrast-hover-background: var(--pico-contrast-hover);
	--pico-contrast-focus: oklch(from var(--pbs) 0.2 calc(c * 0.8) h / 0.4);
	--pico-contrast-inverse: oklch(from var(--pbs) 0.95 calc(c * 0.5) h);
	--pico-h1-color: oklch(from var(--pico-color) 0.05 calc(c * 0.15) h);
	--pico-h2-color: oklch(from var(--pico-color) 0.10 calc(c * 0.15) h);
	--pico-h3-color: oklch(from var(--pico-color) 0.15 calc(c * 0.15) h);
	--pico-h4-color: oklch(from var(--pico-color) 0.25 calc(c * 0.15) h);
	--pico-h5-color: oklch(from var(--pico-color) 0.35 calc(c * 0.15) h);
	--pico-h6-color: oklch(from var(--pico-color) 0.45 calc(c * 0.15) h);
	--pico-table-row-stripped-background-color: oklch(from var(--pico-background-color) calc(l * 0.9) calc(c * 0.85) h);
	--pico-code-background-color:hsl(from var(--pbs-tone) h calc(s * 0.05) 95%);
	--pico-code-color: hsl(from var(--pbs-tone) calc(h - 180) calc(s * 0.15) 5%);
	--pico-form-element-background-color: oklch(from var(--pico-color) 0.75 calc(c * 1.5) h);
	--pico-form-element-selected-background-color: oklch(from var(--pico-color) 0.7 calc(c * 0.5) h);
	--pico-form-element-border-color: oklch(from var(--pico-color) 0.6 calc(c * 0.4) h);
	--pico-form-element-color: var(--pico-color);
	--pico-form-element-placeholder-color: oklch(from var(--pico-color) 0.35 c h);
	--pico-form-element-active-background-color: oklch(from var(--pico-color) 0.75 calc(c * 0.4) h);
	--pico-modal-overlay-background-color: rgba(255 255 255 / 0.75);
	--pico-progress-background-color: hsl(from var(--pbs-tone) h calc(s * 0.25) 0.5);
}


/* dark mode colors */
@media only screen and (prefers-color-scheme: dark) {
  html:root:not([data-theme]) {
  	--pbs: #5ea152;
  	&[data-pbs-theme-color] {
		--pbs: attr(data-pbs-theme-color type(<color>), var(--pbs-copy));
	}
     animation:  1ms paused pbsDarkRelativeColors;
  }
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
html:root:has(input#pbsDarkMode:checked),
[data-theme="dark"] {
	--pbs: #5ea152;
	&[data-pbs-theme-color] {
		--pbs: attr(data-pbs-theme-color type(<color>), var(--pbs-copy));
	}
 	 animation:  1ms paused pbsDarkRelativeColors;
}



/* define dark mode colors in keyframes so it can be mixed in twice w/o repeating */
@keyframes pbsDarkRelativeColors {from{

	/* base color */
	--pbs-copy: var(--pbs);
	background-color: var(--pico-background-color);
	
	--pbs-tone: oklch(from var(--pbs) 0.5 0.4 h);
	--pico-background-color: oklch(from var(--pbs) 0.15 calc(c * 0.66) h);
	--pico-background-color-static: oklch(from var(--pbs) 0.15 calc(c * 0.66) h);
	--pico-color: oklch(from var(--pbs) 0.88 calc(c * 0.1) h);
	--pico-color-static: oklch(from var(--pbs) 0.88 calc(c * 0.1) h);
	--pico-text-selection-color:oklch(from var(--pbs) 0.4 calc(c * 0.5) h);
	--pico-muted-color: oklch(from var(--pico-color) calc(l * 0.75) c h);
	--pico-muted-border-color: oklch(from var(--pbs) 0.25 calc(c * 0.5) h);
	--pico-primary: oklch(from var(--pbs) 0.82 calc(c * 0.75) h);
	--pico-primary-background: oklch(from var(--pbs) 0.32 calc(c * 0.85) h);
	--pico-primary-border: oklch(from var(--pbs) 0.4 calc(c * 0.75) h);
	--primary: var(--pico-primary-background);
	--pico-primary-underline: oklch(from var(--pbs) 0.5 calc(c * 0.75) h / 0.5);
	--pico-primary-hover: oklch(from var(--pbs) 0.8 calc(c * 0.25) h);
	--pico-primary-hover-background: oklch(from var(--pbs) 0.42 calc(c * 0.85) h);
	--pico-primary-focus: oklch(from var(--pbs) 0.52 calc(c * 0.8) h / 0.35);
	--pico-primary-inverse: #fff;
	--pico-secondary: oklch(from var(--pbs) 0.82 calc(c * 0.85) calc(h - 60));
	--pico-secondary-background: oklch(from var(--pbs) 0.5 calc(c * 0.3) calc(h - 30));
	--pico-secondary-underline: oklch(from var(--pbs) 0.5 calc(c * 0.75) calc(h - 30) / 0.5);
	--pico-secondary-hover: oklch(from var(--pbs) 0.8 calc(c * 0.25) calc(h - 30));
	--pico-secondary-hover-background: oklch(from var(--pbs) 0.42 calc(c * 0.85) calc(h - 30));
	--pico-secondary-focus: oklch(from var(--pbs) 0.52 calc(c * 0.8) calc(h - 30) / 0.35);
	--pico-secondary-inverse: #fff;
	--xsecondary: var(--pico-secondary);
	--pico-contrast: oklch(from var(--pbs) 0.9 calc(c * 0.3) h);
	--pico-contrast-background: oklch(from var(--pbs) 0.95 calc(c * 0.25) h);
	--pico-contrast-underline: oklch(from var(--pbs) 0.9 calc(c * 0.5) h / 0.5);
	--pico-contrast-hover: oklch(from var(--pbs) 0.98 calc(c * 0.5) h);
	--pico-contrast-hover-background: var(--pico-contrast-hover);
	--pico-contrast-focus: oklch(from var(--pbs) 0.8 calc(c * 0.8) h / 0.4);
	--pico-contrast-inverse: oklch(from var(--pbs) 0.05 calc(c * 0.5) h);
	--pico-h1-color: oklch(from var(--pico-color) 0.95 calc(c * 0.15) h);
	--pico-h2-color: oklch(from var(--pico-color) 0.90 calc(c * 0.15) h);
	--pico-h3-color: oklch(from var(--pico-color) 0.85 calc(c * 0.15) h);
	--pico-h4-color: oklch(from var(--pico-color) 0.75 calc(c * 0.15) h);
	--pico-h5-color: oklch(from var(--pico-color) 0.65 calc(c * 0.15) h);
	--pico-h6-color: oklch(from var(--pico-color) 0.55 calc(c * 0.15) h);
	--pico-table-row-stripped-background-color: oklch(from var(--pico-background-color) calc(l * 1.33) calc(c * 0.85) h);
	--pico-code-background-color: hsl(from var(--pbs-tone) h calc(s * 0.5) calc(l * 0.5));
	--pico-code-color: hsl(from var(--pbs-tone) calc(h-180) calc(s * 0.15) calc(l * 0.95));
	--pico-form-element-background-color: oklch(from var(--pico-color) 0.25 calc(c * 1.5) h);
	--pico-form-element-selected-background-color:oklch(from var(--pico-color) 0.3 calc(c * 0.5) h);
	--pico-form-element-border-color: oklch(from var(--pico-color) 0.4 calc(c * 0.4) h);
	--pico-form-element-color: var(--pico-color);
	--pico-form-element-placeholder-color: oklch(from var(--pico-color) 0.65 c h);
	--pico-form-element-active-background-color: oklch(from var(--pico-color) 0.25 calc(c * 0.4) h);
	--pico-form-element-disabled-opacity: 0.5;
	--pico-switch-background-color: var(--pico-text-selection-color);
	--pico-switch-color:var(--pico-contrast-hover);
	--pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	--pico-range-border-color: var(--pico-form-element-background-color);
	--pico-range-active-border-color: var(--pico-form-element-border-color);
	--pico-card-background-color: var(--pico-form-element-background-color);
	--pico-card-sectioning-background-color: var(--pico-muted-border-color);
	--pico-dropdown-background-color: var(--pico-muted-border-color);
	--pico-dropdown-border-color: var(--pico-primary-background);
	--pico-dropdown-hover-background-color:var(--pico-primary-hover-background);
	--pico-modal-overlay-background-color: rgba(0 0 0 / 0.75);
	--pico-progress-background-color: hsl(from var(--pbs-tone) h calc(s * 0.25) calc(l * 0.5));
}} /* end dark mode derived color defs */

/* utility keyframes */

/* blur (as in un-focus) focused inputs */
@keyframes pbs-blur {
  0%, 96% { visibility: visible;}
  97%, 99% {visibility: hidden;}
  100% { visibility: visible;}
}
/* fades out, then display:none; */
@keyframes pbsFadeToNone {
  0% {opacity: 1; display: inherit;}
  99% {opacity: 0;}
  100% {display: none;}
}
/* slides out, then display:none; */
@keyframes pbsSlideToNone {
  0% {transform: translateX(0px); display: inherit;}
  99% {transform: translateX(120vw);}
  100% {display: none;}
}
/* animates marquees */
@keyframes pbsMarqueeScroll {
  to { left: calc(var(--marquee-width) * -1); }
}

